{:source-paths ["src"]
 :dependencies []
 
 :dev-http {8700 "public/workshop"}
 
 :builds
 {:workshop {:target :browser
             :output-dir "public/workshop/js"
             :asset-path "/js"
             :modules {:main {:entries [workshop.client]}}
             :compiler-options {:devcards true}}}}